.content--login .notice--error {
  border: 0;
  padding: 0.125em;
  color: #fafafa;
  text-shadow: none;
  margin-bottom: size(sm);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
